.content-section {
 display: flex;
 align-items: center;
 float: right;
 padding:10px;
 margin: auto;
}

#svg-office {
 align-items: center;
 margin-left: 10%;
}

.team-text-section{
 float: right;
 text-align: left;
 padding-left: 150px;
 padding-right: 150px;
 text-align: justify;
}

.dropdown-content-right a:hover {background-color: #ddd;}
.dropdown-content-left a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content-right {
 display:block;
}

.dropdown:hover .dropdown-content-left {
 display: flex;
}


.dropdown:hover .dropbtn {border-bottom: solid 1px #303030;}
